

<h1>Sign Up Here!</h1>

  <form action="/signup" method="POST">
    <label for="username">Username</label>
<<<<<<< HEAD
      <input type="text" name="username" id="username">
    <br />
    <label for="email">Email</label>
      <input type="text" name="email" id="email">
    <br />
    <label for="password">Password</label>
      <input type="text" name="password" id="password">
=======
      <input type="text" name="user[name]" id="username">
    <br />
    <label for="email">Email</label>
      <input type="text" name="user[email]" id="email">
    <br />
    <label for="password">Password</label>
      <input type="text" name="user[password]" id="password">
>>>>>>> c4d3a9933c491a3a79a90f158bdd067fe674edf9
    <br />
    <input type="submit" value="Create">
  </form>
