<<<<<<< HEAD
<% if logged_in %>

<h1>Welcome <%= @user %></h1>
    <a href='/tweets/new'> Create a Tweet </a> 
    <br />
    <a href='/logout'> Log Out </a>


<% else %>

<h1>Welcome to Fwitter</h1>
    <a href='/signup'>Sign Up</a>
    <br />
    <a href='/login'>Login</a>
<% end %>
=======
<h1>Hello</h1>
>>>>>>> c4d3a9933c491a3a79a90f158bdd067fe674edf9
